<% if line_item == @current_item %>
  <tr id="current_item">
  <% else %>
  </tr>
<% end %>
<tr>
  <td><img src="http://dl.dropbox.com/u/14840749/<%= line_item.product.id %>.jpg"height="90" width="70" alt="product"></td>
  <td><%= text_field :quantity, :quantity, :value => line_item.quantity, :class => "input-mini", :num => line_item.id  %>&times;</td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>

