<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <p> </p>
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
          <div class="carousel-inner">
        <div class="active item"><img src="http://dl.dropbox.com/u/14840749/IMAG0227.jpg" alt="HTML5 logo" width="1170" height="300" />
          <div class="carousel-caption">
                  <h4>Belgaum City</h4>
                  <p>Vaijanath Hill Station 20 Km From the city.</p>
                </div>
        </div>
        <div class="item"><img src="http://dl.dropbox.com/u/14840749/IMAG0229.jpg" alt="JS logo" width="1170" height="300" />
          <div class="carousel-caption">
                  <h4>Belgaum Cool Place</h4>
                  <p>No matter where you travel in India, you'll likely find a comfortable, convenient Best Places.</p>
                </div>
        </div>
        <div class="item"><img src="http://dl.dropbox.com/u/14840749/IMAG0897.jpg" alt="Schema.org logo" width="1170" height="300" />
          <div class="carousel-caption">
                  <h4>Water Beauty</h4>
                  <p>Water On red stones</p>
                </div>
        </div>
        <div class="item"><img src="http://dl.dropbox.com/u/14840749/IMAG0224.jpg" alt="JSON logo" width="1170" height="300" />
          <div class="carousel-caption">
                  <h4>Vaijanath</h4>
                  <p>Vaijanath Hill Station 20 Km From the city</p>
                </div>
        </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
</div>
</div>
</div>

